<svg aria-hidden="true" style="width: 0; height:0; visibility:hidden;">
  <defs>
    <symbol id="arrow" viewBox="0 0 19.3 33" preserveAspectRatio="xMinYMax meet">
    <title>arrow</title>
    <path d="M0.1,2.9L3,0.1C3.1,0,3.3,0,3.5,0.1l15.6,15.4c0.3,0.3,0.3,0.8,0,1.1c0,0,0,0,0,0L3.5,31.9C3.3,32,3.1,32,3,31.9l-2.8-2.8
      C0,29,0,28.7,0.1,28.6c0,0,0,0,0,0l12.5-12.3c0.1-0.1,0.1-0.4,0-0.5c0,0,0,0,0,0L0.1,3.4C0,3.3,0,3.1,0.1,2.9
      C0.1,2.9,0.1,2.9,0.1,2.9L0.1,2.9z"></path>
    </symbol>
  </defs>
  <defs>
    <symbol id="arrow-right" viewBox="0 0 72 32">
    <title>right arrow</title>
    <path d="M72.393 16l-16-16-14.426 14.426h-41.967v2.623h41.443l14.951 14.951z"></path>
    </symbol>
  </defs>
</svg>

<article class="dcf-wrapper nc-portfolio">
  <header class="dcf-measure dcf-pb-6">
    <h1 class="dcf-mb-0"><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <% if(item.project_type) { %>
      <div class="dcf-badge dcf-pt-2 dcf-pb-2 dcf-pl-3 dcf-pr-3 dcf-txt-xs">
        <%- item.project_type %>
      </div>
    <% } %>
  </header>
  <% if(item.brief_description) { %>
    <section class="dcf-measure nc-portfolio-desc">
      <h2>Brief Description</h2>
      <%- item.brief_description %>
      <div class="dcf-pb-6 dcf-pt-1">
        <% if(item.website_link) { %>
          <a class="dcf-btn dcf-btn-primary" href="<%- item.website_link %>">
            <span>Visit website</span>
            <span class="icon-arrow-wrapper">
              <svg class="icon icon-arrow">
                <use xlink:href="#arrow" class="arrow-one"></use>
                <use xlink:href="#arrow" class="arrow-two"></use>
                <use xlink:href="#arrow" class="arrow-three"></use>       
              </svg>
            </span>
          </a>
        <% } %>
        <% if(item.repo_link) { %>
          <a class="dcf-btn dcf-btn-secondary" href="<%- item.repo_link %>">
            <span>View repo</span>
            <span class="icon-arrow-wrapper">
              <svg class="icon icon-arrow">
                <use xlink:href="#arrow" class="arrow-one"></use>
                <use xlink:href="#arrow" class="arrow-two"></use>
                <use xlink:href="#arrow" class="arrow-three"></use>       
              </svg>
            </span>
          </a>
        <% } %>
      </div>
    </section>
    <section class="dcf-measure nc-portfolio-role-tech">
      <% if(item.role) { %>
        <h2 class="dcf-txt-md">Role</h2>
        <%- item.role %>
      <% } %>
      <% if(item.tech) { %>
        <h2 class="dcf-txt-md">Technology Used</h2>
        <ul class="dcf-multicolumn-2 dcf-multicolumn-gap">
          <%- item.tech %>
        </ul>
      <% } %>
    </section>
    <section class="dcf-measure nc-portfolio-challenge">
      <% if(item.challenge) { %>
        <h2>The Challenge</h2>
        <%- item.challenge %>
      <% } %>
    </section>
    <section class="dcf-stretch nc-portfolio-screenshots-wrapper">
      <svg class="nc-portfolio-curvy dcf-stretch<% if(!item.right_screenshot){ %> nc-portfolio-curvy--single<% } %>"
           viewBox="0 0 1 1"
           preserveAspectRatio="none">
          <path d="M1.1-0.1C1.1,0.1,0.8,0.4,0.6,0.2C0.4,0.1,0.2,0.1,0,0.3v0.2l-0.1,0.4C0,0.7,0.3,0.6,0.5,0.7c0.2,0.1,0.6,0.1,0.5,0V0.5
L1.1-0.1z"/>
      </svg>
      <div class="dcf-wrapper nc-portfolio-screenshots">
        <% if(item.left_screenshot) { %>
          <figure class="dcf-mt-6">
            <img src="<%- item.left_screenshot %>" alt="item.left_alt_tag || "A screenshot of the old website">
            <figcaption class="dcf-figcaption"><%- item.left_alt_tag || "A screenshot of the old website" %></figcaption>
          </figure>
        <% } %>
        <% if(item.right_screenshot) { %>
        <figure class="dcf-mt-6">
            <img src="<%- item.right_screenshot %>" alt="A screenshot of the new website">
            <figcaption class="dcf-figcaption"><%- item.right_alt_tag || "A screenshot of the new website" %></figcaption>
          </figure>
        <% } %>
      </div>
    </section>
    <% if(item.process) { %>
      <section class="dcf-measure nc-portfolio-challenge">
        <h2>The Process Taken</h2>
        <%- item.process %>
      </section>
    <% } %>
    <% if(item.result) { %>
      <section class="dcf-measure nc-portfolio-result">
        <h2>Result</h2>
        <%- item.result %>
      </section>
    <% } %>
    <% if(item.client_feedback) { %>
      <section class="dcf-measure nc-portfolio-challenge">
        <h2>Client Feedback</h2>
        <%- item.client_feedback %>
      </section>
    <% } %>
  <% } %>
  <div>
    <a href="<%- config.root %>" class="nc-btnlink nc-btnlink-back">
      <div class="nc-btnlink-text">Portfolio List</div>
      <svg class="icon icon-next"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </div>
</article>

