<li class="nc-portfolio-teaser">
  
    <a href="<%- config.root %><%- item.path %>">
      <div class="dcf-card nc-card">
        <div class="nc-card-preview-image">
          <img class="img-fluid nc-portfolio-cover-img dcf-ratio dcf-ratio-4x3 dcf-obj-fit-cover" src="<%- config.root %><%- item.path %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
        </div>
        <div class="dcf-card-block nc-card-details">
          <h2 class="dcf-txt-lg dcf-pt-1">
              <%- item.title || theme.default_post_title || "Untitled" %>
          </h2>
          <% if(item.project_type) { %>
            <div class="dcf-badge dcf-pt-2 dcf-pb-2 dcf-pl-3 dcf-pr-3 dcf-txt-xs">
              <%- item.project_type %>
            </div>
          <% } %>
          <dl class="dcf-txt-sm">
            <% if(item.client_location) { %>
            <dt>Client:</dt>
            <dd><%- item.client_location %></dd>
            <% } %>
            <% if(item.role) { %>
            <dt>Role:</dt>
            <dd><%- item.role %></dd>
            <% } %>
            <% if(item.tech) { %>
            <dt>Technology used:</dt>
            <dd class="nc-portfolio-tech-inline"><%- item.tech %></dd>
            <% } %>
            <dl></dl>
          </dl>
        </div>
      </div>
    </a>

    
</li>
