<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body class="nc-theme">
  	<div class="dcf-wrapper dcf-header dcf-pt-2 dcf-pb-4">
      <!-- Header -->
      <%- partial('_partial/header') %>
    </div>

    <main role="main">
  		
      <%- body %>
      
      <% if (page.total > 1) { %>
        <nav class="page-nav" aria-label="pagination">
          <%- paginator({prev_text: '<', next_text: '>'}) %>
        </nav>
      <% } %>
    
    </main>

  	</div>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
